@use "variables/fontSizesAndColors" as *;

.primaryHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $grey-500;
  padding: 5px;

  border:{
    bottom: solid 1px $font-grey-200;
  }

  span{
    font: {
      size: 2rem;
    }
    user-select: none
  }
}
h1{
  font-size: 2rem;
}
