@use "variables/colorAndFonts" as *;

.primaryHeader_index{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  color: $primary-color-drab;
  padding: 5px;

  border:{
    bottom: solid 1px $primary-color-drab;
  }

  span{
    font: {
      size: 2rem;
    }
    user-select: none
  }
  .icon{
    color: $primary-color-drab;
    text-decoration: none;
  }
}
h1{
  font-size: 2rem;
}
