.section_article::-webkit-scrollbar {
  display: none;
}

.section_article {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  width: 100dvw;
  height: 115px;
  overflow-x: scroll;

  > div {
    width: 120dvw;
    display: flex;

    > div {
      width: 100dvw;
      display: flex;
      scroll-snap-align: start;
      align-items: center;

      img{
        width: 75px;
        aspect-ratio: 1;
        border-radius: 50%;

        margin: 15px;
      }
    }

    > button {
      width: 20dvw;
      scroll-snap-align: start;

      background: cyan;

      border: 0;
    }
  }
}

